:root {
    --color: #24BA9F;
    --color2: #1f8976;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.btn {
    border: 0;
    color: #fff;
    background: var(--color);
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background: var(--color2);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.section-title {
    font-size: 22px;
    color: #575757;
    text-transform: uppercase;
    position: relative;
    padding: 15px 0;
    font-weight: 500;
}

.section-title:after {
    content: '';
    width: 315px;
    height: 8px;
    background: var(--color);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* -------------------------------------------------------------- */
/* * * * * * * * * * * * * * navigation * * * * * * * * * * * * * */
/* -------------------------------------------------------------- */

.page-header {
    height: 40px;
    background: black;
    position: relative;
    z-index: 100;
}

.page-header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.page-logo span {
    color: var(--color);
}

.page-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.page-nav-list-el {
    position: relative;
}

.page-nav-list-link {
    padding: 0 15px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.page-nav-list-link:hover {
    padding: 0 15px;
    text-decoration: none;
    color: var(--color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.page-nav-sublist {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    margin: 0;
    background: black;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity;
}

.page-nav-list-el:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
}

.page-nav-list-el:hover .page-nav-list-link {
    color: var(--color);
}

.page-nav-sublist:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border: 10px solid transparent;
    border-bottom-color: black;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-nav-sublist:after {
    content: '';
    background: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
}

.page-nav-sublist-el {}
.page-nav-sublist-link {
    color: white;
    text-decoration: none;
    line-height: 1.5em;
}

.page-nav-sublist-link:hover {
    color: var(--color);
}

/* -------------------------------------------------------------- */
/* * * * * * * * * * * * * główny banner  * * * * * * * * * * * * */
/* -------------------------------------------------------------- */

.main-banner {
    background: linear-gradient(#fff, #cecece) ;
}

.banner {
    height: 500px;
    display: flex;
}

.banner-prev,
.banner-next {
    width: 60px;
    background: none;
    border: 0;
    font-size: 70px;
    color: var(--color);
    cursor: pointer;
}

.banner-prev:focus {
    outline: none;
}

.banner-next:focus {
    outline: none;
}

.banner-next {
    order: 1;
}

.banner-slides {
    flex-grow: 1;
    position: relative;
    /*margin: 5px;*/
}

.banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    /*width: calc(100% - 20px);*/
    /*height: calc(100% - 20px);*/
    height: 100%;
    opacity: 0;
    transition: 0.5s all;
    font-size: 40px;
    /*margin: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.banner-slide-image {
    width: 45%;
    height: 100%;
    position: relative;
}

.banner-slide-image img {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: auto;
}

.banner-slide-contents {
    /*width: 490px;*/
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 0;
    padding-right: 35px;
}

.banner-slide-contents strong {
    color: var(--color);
}

.banner-title {
    word-spacing: 5px;
    text-align: center;
}

.banner-text {
    /*margin-top: 30px;*/
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: initial;
    line-height: 1.6;
    margin: 30px 0;
}

.banner-btn {
    /*margin-top: 30px;*/
    font-size: 30px;
}

.banner-slide-active {
    opacity: 1;
    z-index: 1;
}

/* -------------------------------------------------------------- */
/* * * * * * * * * * * *  information * * * * * * * * * * * * * * */
/* -------------------------------------------------------------- */

.main-information {
    width: 100%;
    height: 350px;
    background: white;
    position: relative;
    /*z-index: 100;*/
}

.main-information .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.information-boxes {
    width: 330px;
    height: 230px;
    background-size: cover;
    position: relative;
    border: 1px solid lightgray;
}

.information-boxes--box1 {
    background-image: url("../images/box1_img.jpg");
    position: relative;
}

.box-block1, .box-block2 {
    height: 60px;
    width: 330px;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    top: 150px;
}

.information-boxes--box2 {
    background-image: url("../images/box2_img.jpg");
}

.information-boxes--box3 {
    height: 250px;
}

.box-name, .box-name1, .box-name2 {
    position: absolute;
    bottom: 45px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    color: black;
    z-index: 1;
}

.box-name1:after, .box-name2:after {
    content: "";
    height: 8px;
    width: 140px;
    display: block;
    background-color: var(--color);
    position: absolute;
    top: 20px
}


.box-name:after {
    content: "";
    height: 8px;
    width: 140px;
    display: block;
    background-color: var(--color);
    position: absolute;
    top: 20px
}

.information-boxes--box3 .box-name{
    top: 30px;
    padding-left: 25px;
}

.information-boxes--box3 p {
    padding: 60px 30px 0 25px;
    font-size: 14px;
    line-height: 20px;
}

/* -------------------------------------------------------------- */
/* * * * * * * * * * * * *   price    * * * * * * * * * * * * * * */
/* -------------------------------------------------------------- */


.main-price-list {
    height: 725px;
    background-color: rgb(237,237,237);
    position: relative;
}

.main-price-list .container {
    height: 725px;
}

.main-price-list .container .price-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.price-boxes {
    width: 330px;
    height: 500px;
    border: 2px solid lightgray;
    border-radius: 2px;
}

.price-boxes--box1 {
    position: relative;
    background-color: rgb(247,247,247);

}

.price-boxes--box1:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid lightgray;
    background-color: white;
}

.price-boxes--box1:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;
    z-index: 1;
}

.price-boxes--box2 {
    position: relative;
    background-color: var(--color);
    border: 2px solid var(--color);
}

.price-boxes--box2:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid var(--color);
    background-color: var(--color);
}

.price-boxes--box2:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    height: 245px;
}

.price-boxes--box2 .section1 {
    border-bottom: 0;
}

.section1 .title {
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    padding-top: 10px;
}

.price-boxes--box1 .section1 .title {
    color: var(--color);
}

.price-boxes--box2 .section1 .title {
    color: white;
}

.section1 .circle {
    width: 130px;
    height: 130px;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin-top: 5px;
    font-weight: 700;
}

.price-boxes--box1 .section1 .circle {
    border: 2px solid lightgray;
    background-color: white;
    color: darkgrey;
}

.price-boxes--box2 .section1 .circle {
    border: 2px solid var(--color);
    background-color: white;
    color: var(--color);
}

.circle h3, sup {
    display: inline-block;
}

.circle h3 {
    font-size: 45px;
    margin: 23px 0 0 0;

}

.circle sup {
    position: relative;
    font-size: 17px;
    top: -22px;
    font-weight: 600;
}

.circle p {
    line-height: 0;
    font-weight: 600;
}

.feature {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.element1 {
    background-color: rgb(221,221,221);
    color: rgb(168,168,168);
    height: 40px;
    padding-top: 6px;
}

.element2 {
    background-color: rgb(237,237,237);
    color: rgb(160,160,160);
    height: 46px;
    padding-top: 8px;
}

.price-boxes--box2 .feature {
    position: relative;
    color: rgb(172,172,172);
    top: -2px;
}

.price-boxes--box2 .element1 {
    background-color: white;
    height: 42px;
}

.btn-join {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
}

.price-boxes--box2 .btn-join {
    color: var(--color);
    background-color: white;
}

.price-boxes--box2 .btn-join:hover {
    opacity: 0.7;
}

/* -------------------------------------------------------------- */
/* * * * * * * * * * * *  calculator * * * * * * * * * * * * * *  */
/* -------------------------------------------------------------- */

.application {
    background-color: #f9f9f9;

}

.application .container{
    height: 470px;
    /*padding: 5px 0 0 0;*/
    display: flex;
    justify-content: space-between;
}

.application .section-title {
    font-size: 20px;
}

.application .summary-part .section-title:after {
    left: 33px;
}

.choice-part {
    width: 350px;
}

.form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.drop-down-list {
    border: 1px solid #8de0d2;
    width: 100%;
    background-color: white;
    margin-top: 22px;
    padding: 12px;
    position: relative;
}

.list-label {
    font-size: 30px;
    color: rgb(219,219,219);
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.list-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display: block;
    position: absolute;
    right: 22px;
    top: 25px;
    cursor: pointer;
}

.panel-list {
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    margin: 0;
    left: 1px;
    z-index: 2;
    position: absolute;
    top: 58px;
    /*display: none;*/
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}

.panel-list li {
    padding: 4px 0;
}

.panel-list a {
    text-decoration: none;
    color: black;
}

.last-list {
    height: 75px;
}

.application-checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
    display: flex;
    align-items: center;
}

.application-checkbox .checkbox {
    display: inline-block;
    cursor: pointer;
    color: rgb(196,196,196);
    border: 1px solid #24baa0;
    height: 48px;
    width: 48px;
    background-color: white;
}

.application-checkbox .list-label {
    position: absolute;
    left: 65px;
}

.image-part {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-part {
    text-align: right;
    width: 350px;

}

.calc-container {
    background-color: white;
    min-height: 250px;
    width: 100%;
    padding: 10px;
    font-size: 22px;
}

.calc-row {
    display: flex;
    justify-content: space-between;
}

.calc-products {
    border-bottom: 1px solid rgb(241,241,241);
    width: 60%;
    text-align: left;
    min-height: 180px;
}

.calc-products div {
    color: var(--color);
}

.calc-products p {
    color: rgb(89,89,89);
    line-height: 10px;
}

.calc-price {
    border-bottom: 1px solid rgb(241,241,241);
    border-left: 1px solid rgb(241,241,241);
    width: 40%;
    text-align: right;
    min-height: 180px;
    color: var(--color);
}

.calc-price p {
    line-height: 10px;
}

.calc-summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(89,89,89);
    margin-top: 10px;

}

.calc-summary-sum {
    color: var(--color);
}

.btn-order {
    margin-top: 20px;
    margin-right: 29px;
    padding: 10px 90px;
    font-size: 20px;
}

.calc-price--space {
    display: none;
}




/* -------------------------------------------------------------- */
/* * * * * * * * * * * *  application * * * * * * * * * * * * * * */
/* -------------------------------------------------------------- */

.form {
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 630px;
}

.form-right {
    width: 340px;
}

.form-row {
    margin-bottom: 28px;
}

.form-addon {
    height: 200px;
    background: url("../images/red_chair.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: -26px;
}

.form-control {
    height: 63px;
    border: 1px solid var(--color);
    width: 100%;
    padding: 0 15px;
    font-size: 33px;
    font-weight: 300;
}

textarea.form-control {
    height: 191px;
    resize: none;
    padding: 15px;
}

.form-control::placeholder {
    color: #cecece;
}

.form-control:focus {
    outline: none;
    border-color: var(--color);
    box-shadow: inset 0 0 0 1px var(--color);
}

.form-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 35px 0;
    color: #ccc;
    font-size: 18px;
}

.form-checkbox-input {
    position: absolute;
    left: -999999px;
}

.form-checkbox-mark {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--color);
    display: block;
    margin-right: 10px;
}

.form-checkbox-input:checked + .form-checkbox-mark {
    background: url("../images/form_ok.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.form-submit-btn {
    width: 100%;
    font-size: 34px;
    font-weight: 700;
    padding: 20px;
}

/* -------------------------------------------------------------- */
/* * * * * * * * * * * * *   footer   * * * * * * * * * * * * * * */
/* -------------------------------------------------------------- */

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: rgb(137,137,137);
    margin-top: 20px;
}

.main-footer-right {
    width: 340px;
}

.main-footer-right img {
    float: left;
    margin: 0 2px;
    transition: all 0.1s linear;
}

.main-footer-right img:hover {
    transform: scale(1.2);
}

.main-footer-right a {
    float: right;
    bottom: 0;
    color: rgb(137,137,137);
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    word-spacing: 5px;
    font-weight: 500;
}